.banner-slide-section .banner-slide-wrapper .banner-slide .slick-prev::before {
  display: inline-block;
  width: 30px;
  height: 40px;
  font-size: 30px;
  content: " ";
  background: url(../images/icons/arrow-right-white.svg) no-repeat center/100%;
  transition: all .15s ease-in-out;
  transform: rotate(-180deg) translate3d(-30px,0,0);
}